<h1>Name: <%= @dog.name %> </h1>
<p>Age: <%= @dog.age %> </p>
<p> <%= pluralize(@dog.activities.count, "activity" )%> </p>
<ol>Activity: <% @dog.activities.each do |activity| %> 
    <li><%= link_to activity.name, activity_path(activity) %> </li>
<% end %>
</ol>
   
