<h1>Welcome to Activities!</h1>
<%= button_to("Dogs", dogs_path, method: :get) %><hr>

<ul>
  <% @activities.each do |activity| %>
    <h2><li><%= link_to activity.name, activity_path(activity) %></li></h2>
  <%end%>
</ul>